html,
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #212121;
  color: #fff;
  height: 100%;
}
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #212121;
  height: 120px;
  padding: 0 40px; /* Increased left and right padding */
  border: 1px solid #fff;
  text-align: center;
}

/* Logo Section */
.logo-section {
  flex: 0 0 auto; /* Keep the logo section at its natural width */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 40px; /* Adjusted size for mobile */
  margin: auto 0; /* Center logo vertically */
  padding: 10px; /* Adjust padding to reduce gaps */
  padding-right: 50px;
}

/* Loading Section */
.loading-section {
  font-family: "Source Code Pro", monospace;
  padding-right: 50px;
  flex: 0 0 auto; /* Adjust width to natural size */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 15px;
  line-height: 1;
  font-size: 12px;
  text-align: left;
  width: 200px; /* Adjust width to appropriate size */
}

@media screen and (max-width: 768px) {
  .loading-section {
    display: none; /* Hide on mobile */
  }
}

/* Navigation Section */
.nav-section {
  font-family: "Source Code Pro", monospace;
  flex: 1; /* Allow the nav section to take remaining space */
  display: flex;
  align-items: center;
  justify-content: center; /* Center the navigation menu */
  gap: 50px; /* Increased gap between menu items */
  padding: 0 20px;
}

.nav-section a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-section a:hover {
  color: #dd1717;
}

@media screen and (max-width: 768px) {
  .nav-section {
    display: none; /* Hide navigation links on mobile */
  }
}

/* Social Media Section */
.social-media {
  display: flex;
  flex-direction: column; /* Align icons vertically */
  align-items: center;
  gap: 2px; /* Smaller gap */
  position: relative;
}

.horizontal-divider {
  width: 100%; /* Full width */
  height: 1px; /* Smaller height */
  background-color: #fff;
  margin: 2px 0; /* Smaller margin */
}

.icon {
  height: 40px; /* Adjusted size for mobile */
  width: 40px; /* Adjusted size for mobile */
}

@media screen and (max-width: 768px) {
  .social-media {
    flex-direction: row; /* Align icons inline on mobile */
    gap: 10px; /* Add gap between icons */
  }
  .social-media .icon + .icon {
    border-left: 1px solid #fff; /* Add vertical line between icons */
    padding-left: 10px; /* Adjust padding for visual balance */
  }
}

/* Hire Me Section */
.hire-me-section {
  flex: 0 0 auto; /* Keep the hire me section at its natural width */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}

/* From Uiverse.io by cssbuttons-io */
.fancy {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1em 1.5em; /* Adjusted padding for smaller screens */
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: white;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-family: "Source Code Pro", monospace;
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: #dd1717;
  background: #fff;
}

.fancy:hover::before {
  width: 0.9375rem;
  background: #dd1717;
}

.fancy:hover .text {
  color: #dd1717;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

@media screen and (max-width: 768px) {
  .fancy {
    padding: 0.5em 1em; /* Further adjust padding for smaller screens */
    font-size: 12px;
  }
}

/* Vertical Dividers */
.divider-vertical {
  width: 1px; /* Adjusted size */
  height: 100%;
  background-color: #fff;
}
